#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
src/MountainTerrain/*.user
src/MountainTerrain/*.aps
src/MountainTerrain/*.pch
src/MountainTerrain/*.vspscc
src/MountainTerrain/*_i.c
src/MountainTerrain/*_p.c
src/MountainTerrain/*.ncb
src/MountainTerrain/*.suo
src/MountainTerrain/*.bak
src/MountainTerrain/*.cache
src/MountainTerrain/*.ilk
src/MountainTerrain/*.log
src/MountainTerrain/*.sbr
src/MountainTerrain/MountainTerrain.opensdf
src/MountainTerrain/MountainTerrain.sdf
src/MountainTerrain/Debug/*
src/MountainTerrain/Release/*
src/MountainTerrain/MountainTerrain/Debug/*
src/MountainTerrain/MountainTerrain/Release/*
*.log
*.tlog
